BasicFeatures/meta/weather/weather_json.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="json_object" type="json_objectType"/>
  <xs:complexType name="mainType">
    <xs:sequence>
      <xs:element type="xs:string" name="temp"/>
      <xs:element type="xs:string" name="temp_min"/>
      <xs:element type="xs:string" name="temp_max"/>
      <xs:element type="xs:string" name="pressure"/>
      <xs:element type="xs:string" name="sea_level"/>
      <xs:element type="xs:string" name="grnd_level"/>
      <xs:element type="xs:string" name="humidity"/>
      <xs:element type="xs:string" name="temp_kf"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="weatherType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="main"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="icon"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="arrayElem" use="optional"/>
  </xs:complexType>
  <xs:complexType name="cloudsType">
    <xs:sequence>
      <xs:element type="xs:string" name="all"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="windType">
    <xs:sequence>
      <xs:element type="xs:string" name="speed"/>
      <xs:element type="xs:string" name="deg"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sysType">
    <xs:sequence>
      <xs:element type="xs:string" name="pod"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listType">
    <xs:sequence>
      <xs:element type="xs:string" name="dt"/>
      <xs:element type="mainType" name="main"/>
      <xs:element type="weatherType" name="weather"/>
      <xs:element type="cloudsType" name="clouds"/>
      <xs:element type="windType" name="wind"/>
      <xs:element type="rainType" name="rain" minOccurs="0"/>
      <xs:element type="snowType" name="snow" minOccurs="0"/>
      <xs:element type="sysType" name="sys"/>
      <xs:element type="xs:string" name="dt_txt"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="arrayElem" use="optional"/>
  </xs:complexType>
  <xs:complexType name="rainType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="_x0033h" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="snowType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="_x0033h" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coordType">
    <xs:sequence>
      <xs:element type="xs:string" name="lat"/>
      <xs:element type="xs:string" name="lon"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cityType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="coordType" name="coord"/>
      <xs:element type="xs:string" name="country"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="json_objectType">
    <xs:sequence>
      <xs:element type="xs:string" name="cod"/>
      <xs:element type="xs:string" name="message"/>
      <xs:element type="xs:string" name="cnt"/>
      <xs:element type="listType" name="list" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="cityType" name="city"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>