BasicFeatures/meta/online-store/OrderPaymentsReport.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="customers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customer" type="CustomerType" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="CustomerType">
		<xs:sequence>
			<xs:element name="order" type="OrderType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:long" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="OrderType">
		<xs:sequence>
			<xs:element name="payment" type="PaymentType"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:long" use="required"/>
		<xs:attribute name="date" type="xs:date" use="required"/>
	</xs:complexType>

	<xs:complexType name="PaymentType">
		<xs:attribute name="paymentDate" type="xs:date" use="required" />
		<xs:attribute name="amount" type="xs:decimal" use="required"/>
		<xs:attribute name="type" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>