BasicFeatures/meta/online-store/Orders.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="orders">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="order" type="OrderType" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="OrderType">
		<xs:sequence>
			<xs:element name="item" minOccurs="1" maxOccurs="unbounded" type="ItemType"/>
			<xs:element name="address" type="AddressType" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:long" use="required"/>
		<xs:attribute name="customerId" type="xs:long" use="required"/>
		<xs:attribute name="date" type="xs:date" use="required"/>
	</xs:complexType>

	<xs:complexType name="ItemType" mixed="true">
		<xs:attribute name="productCode" use="required" type="xs:long"/>
		<xs:attribute name="unitPrice" use="required" type="xs:decimal"/>
		<xs:attribute name="qty" use="required" type="xs:positiveInteger"/>
	</xs:complexType>

	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="country" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="state" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="city" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="zip" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="street" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="shipping"/>
					<xs:enumeration value="billing"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>